.jobs{
	&__form{
		width: 100%;
		height: 100vh;
		position: fixed;
		padding-top: 56px;
		background-color: #fff;
		bottom: 100%;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;	
		justify-content: center;
		transition: botton 250ms ease-in-out;
		overflow-y: hidden;
		&--active{
			bottom: 0%;
		}
		&-input{
			border: none;
			border-radius: 0;
			border-bottom: 1px solid black;
			margin-bottom: 35px;
			width: 90%;
			font-size: 16px;
			font-family: "Helvetica","Arial",sans-serif;
			&:last-child{
				margin-bottom: 0;
			}
			&:focus{
				outline: none;
			}
		}
		&-label{
			width: 90%; 
		}
		&-button{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 27px;
			width: 150px;
			background-color: rgb(63,81,181);
			color: white;
			border: none;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	&__button-container{
		display: flex;
	}
}
