@import '../../scss/_variables.scss';
@import '../../scss/_responsive.scss';

.login{
	margin-top: 56px;
	width: 100%;
	height: 100%;
	position: absolute;
	&__image-container{
		width: 120px;
		margin: 0 auto;
		height: 120px;
		background-image: url('https://i.imgur.com/XupMBrc.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}
	&__form{
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-items: center;	
		&-input{
			border: none;
			border-radius: 0;
			border-bottom: 1px solid black;
			margin-bottom: 20px;
			width: 90%;
			font-size: 16px;
			font-family: "Helvetica","Arial",sans-serif;
			&:last-child{
				margin-bottom: 0;
			}
			&:focus{
				outline: none;
			}
		}
		&-button{
			width: 90%;
			background-color: rgb(63,81,181) !important;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
				
			}
		}
	}
	&__social-media{
		display: flex;
		flex-direction: row;
	}
	&__icons{
    margin: 10px;
		background-color: transparent;
		border: none;
	}
}
